@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html,
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  overflow: hidden;
}

#menu {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  background: rgb(126, 85, 240);
  background: linear-gradient(
    90deg,
    rgba(126, 85, 240, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

#canvas {
  display: none;
}

.title {
  font-size: 120px;
  margin-bottom: 70px;
  animation: rotating 5s infinite linear;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#nameInput {
  height: 40px;
  width: 290px;
  font-size: 30px;
  color: white;
  background-color: rgb(41, 13, 77);
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
}

#button {
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
  background-color: #98c7eb;
  margin-top: -30px;
}

#button:hover {
  background-color: #53a6e6;
  font-size: 1.5em;
  padding-left: 30px;
  padding-right: 30px;
}
